body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
}

#intro {
    text-align: center;
}

#about-highlight {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

#hl {
   color: #FFBF00;
   font-weight: bold;
}

#icon {
   width: 80px;
   height: 80px;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

ul {
    list-style-type: '- ';
}

.feedback {
  width:100%;
  overflow:auto;
}
.feedback div {
  width:95%;
  float:left;
  margin: 0.5em;
  border-color: black;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}
