<nav class="nav-buttons">
    <div class="nav-container">
        <a href="index.html" class="nav-button">Главная</a>
        <a href="about.html" class="nav-button">О студии</a>
        <a href="services.html" class="nav-button">Мои услуги</a>
        <a href="events.html" class="nav-button">Мероприятия</a>
        <a href="feedback.html" class="nav-button">Отзывы</a>
        <a href="gallery.html" class="nav-button">Мои работы</a>
        <a href="contact.html" class="nav-button">Контакты</a>
    </div>
</nav>
